<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ownerBasic-mapper">

		<!-- 브랜드 정보 -->
	<resultMap id="brandResultSet" type="Brand">
		<id property="brand_NO" column="BRAND_NO"/>
		
		<result property="b_Name" column="B_NAME"/>
		<result property="b_Logo" column="B_LOGO"/>
		<result property="b_Logo_ReName" column="B_LOGO_RENAME"/>
		<result property="b_Business_NO" column="B_BUSINESS_NO"/>
		<result property="b_Status" column="B_STATUS"/>
		<result property="b_Enter_Date" column="B_ENTER_DATE"/>
		<result property="b_Close_Date" column="B_CLOSE_DATE"/>
		<result property="b_Close_Content" column="B_CLOSE_CONTENT"/>
		<result property="b_Modify_ID" column="B_MODIFY_ID"/>
		<result property="b_Modify_Date" column="B_MODIFY_DATE"/>
		<result property="b_Owner1_ID" column="B_OWNER1_ID"/>
		<result property="b_Owner2_ID" column="B_OWNER2_ID"/>
		<result property="b_Owner3_ID" column="B_OWNER3_ID"/>
		<result property="b_Phone" column="B_PHONE"/>
		<result property="b_Address" column="B_ADDRESS"/>
		<result property="b_Owner_Name" column="B_OWNER_NAME"/>
		<result property="b_Comment" column="B_COMMENT"/>
		<result property="b_Email1" column="B_EMAIL1"/>
		<result property="b_Email2" column="B_EMAIL2"/>
		<result property="b_Email3" column="B_EMAIL3"/>
		
	</resultMap>
	
	<select id="selectMassegeCount" resultType="_int">
		SELECT COUNT(*)
		FROM CONTACT
		WHERE CON_VIEW_CHECK = 'N'
		AND CON_BNO = #{bNO}
	</select>
	
	<select id="selectReviewCount" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE V_CHECK = 'N'
		AND V_B_NO = #{bNO}
	</select>
	
	<select id="selectOrderCount" resultType="_int">
		SELECT COUNT(*)
		FROM ORDERS
		WHERE OR_STATUS = '1'
		AND OR_BRAND_NO = #{bNO}
	</select>
	
	<select id="selectQnACount" resultType="_int">
		SELECT COUNT(*)
		FROM QNAPRODUCT
		WHERE PQ_CHECK = 'N'
		AND PQ_B_NO = #{bNO}
	</select>
	
	<select id="selectBrandLogo" resultType="String">
		SELECT B_LOGO_RENAME
		FROM BRAND
		WHERE BRAND_NO = #{bNO}
	</select>
	
	<select id="selectBrandInfo" resultMap="brandResultSet">
		SELECT *
		FROM BRAND
		WHERE BRAND_NO = #{bNO}
	</select>
	






</mapper>