<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
 	
 	<!-- 타입 알리아스,메퍼 정보는 실제로 존재하는 파일이 없으면 최초 구동시 에러가 발생하므로 미리 만들어 놓지 말자. -->
 	
 	
 	<!-- typeAliases -->
 	<typeAliases>
        <typeAlias type="com.kh.brocoli.member.model.vo.Member" alias="Member"/>
<!--  		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board"/>
 		<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="Reply"/>  -->
 	</typeAliases>
 	
 	
 	<!-- DB정보 
 		environments 엘리먼트로 dataSource 등등의 정보
 		
 		*but! 스프링 에서는 그 정보를 이 파일에서 작성하지 않는다!!
 		기존의 DB연결 설정에 대한 정보를 mybatis-config.xml에서 작성한 정보를
 		=>
 	-->
 	<mappers>
		<mapper resource="mappers/main-mappers/member-mapper.xml"/>
<!--  		<mapper resource="mappers/board-mapper.xml"/> -->
 	</mappers>
 	<!--  -->
 	
 </configuration>
 