<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardNotice-Mapper">


	<!-- resultMap -->
	<resultMap type="Notice" id="boardnoticeResultSet" >
		<id property="n_No" column="N_NO"/>
		
		<result property="n_Writer" column="N_WRITER"/>
		<result property="n_Title" column="N_TITLE"/>
		<result property="n_Content" column="N_CONTENT"/>
		<result property="n_Date" column="N_DATE"/>
		<result property="n_Count" column="N_COUNT"/>
		<result property="n_Modify_Date" column="N_MODIFY_DATE"/>
		<result property="n_Status" column="N_STATUS"/>
		<result property="n_Img" column="N_IMG"/>
		<result property="n_Img_ReName" column="N_IMG_RENAME"/>
	</resultMap>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE N_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardnoticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE N_STATUS='Y'
		ORDER BY N_NO DESC;
	</select>
	
</mapper>
	