<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminOrders">
	<resultMap id="ordersResultSet" type="Orders">
		<id property="or_NO" column="OR_NO"/>
		<result property="or_Date" column="OR_DATE"/>
		<result property="or_Pname" column="OR_PNAME"/>
		<result property="or_Option1" column="OR_OPTION1"/>
		<result property="or_Option2" column="OR_OPTION2"/>
		<result property="or_Amount" column="OR_AMOUNT"/>
		<result property="or_Address" column="OR_ADDRESS"/>
		<result property="or_Message" column="OR_MESSAGE"/>
		<result property="or_Price" column="OR_PRICE"/>
		<result property="or_Status" column="OR_STATUS"/>
		<result property="or_Deliver_Num" column="OR_DELIVER_NUM"/>
		<result property="or_Deliver_Vender" column="OR_DELIVER_VENDER"/>
		<result property="or_Mno" column="OR_MNO"/>
		<result property="or_P_NO" column="OR_P_NO"/>
		<result property="or_Brand_NO" column="OR_BRAND_NO"/>
		
		<collection property="ordersMember" resultMap="memberResultSet"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="Member">
		<id property="mNO" column="MNO"/>
		<result property="mId" column="MID"/>
		<result property="pwd" column="PWD"/>
		<result property="mName" column="MNAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="mGrant" column="MGRANT"/>
		<result property="mPoint" column="MPOINT"/>
		<result property="order_Count" column="ORDER_COUNT"/>
		<result property="order_Price" column="ORDER_PRICE"/>
		<result property="report_YN" column="REPORT_YN"/>
		<result property="block_YN" column="BLOCK_YN"/>
		<result property="block_Content" column="BLOCK_CONTENT"/>
		<result property="del_Flag_YN" column="DEL_FLAG_YN"/>
		<result property="del_Date" column="DEL_DATE"/>
		<result property="enrollDate" column="ENROLLDATE"/>
		<result property="brand" column="BRAND"/>
		<result property="brand_NO" column="BRAND_NO"/>
	</resultMap>

	<select id="selectOrdersList" resultMap="ordersResultSet" parameterType="Orders">
		SELECT *
		FROM ORDERS O
     	JOIN MEMBER M ON OR_MNO = MNO 
	</select>
	
	<update id="orderStatusChange" parameterType="Orders">
		UPDATE Orders
		SET OR_STATUS=#{or_Status}
		WHERE OR_NO=#{or_NO}
	</update>




</mapper>